.header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Make sure it stays above other content */

  text-align: center;
  padding: 1rem 1rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.523);
  width: 100%;
  box-sizing: border-box;
  backdrop-filter: blur(20px);
  background-size: cover; /* or 'contain' for full visibility */
  background-position: center;
  background-repeat: no-repeat;
}

.header-link {
  text-decoration: none;
  color: inherit;
}

.header h1 {
  margin: 0;
  font-size: 6vw;
  letter-spacing: 0.1rem;
  color: #ffffff;
  /* Add border to the letters */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.points {
  /* placement */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 0;
  margin-right: 1rem;
  margin-top: 0.5rem;
  color: #ffffff;
  /* Add border to the letters */
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;

  /* aesthetic */
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
}
