.header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Make sure it stays above other content */
  background: linear-gradient(
    to bottom,
    rgba(84, 127, 255, 0) 0%,
    rgba(196, 220, 253, 0.106) 70%
  );
  text-align: center;
  padding: 2rem 1rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.523);
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2vh;
  backdrop-filter: blur(20px);
}

.header-link {
  text-decoration: none;
  color: inherit;
}

.header h1 {
  margin: 0;
  font-size: 6vw;
  font-family: 'Bungee', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffffff;
  -webkit-text-stroke: 2px #0000006d;
}
