.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  text-align: center;
  font-size: 1.5rem;
}

.startButton {
  color: white;
  background-color: rgba(90, 90, 90, 0.581);
  font-size: 2rem;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
  text-transform: uppercase;
}

.startButton:hover {
  transform: scale(1.1);
  background-color: rgba(27, 27, 27, 0.787);
}

.welcomeMessage {
  margin: 0;
  font-size: 4vw;
  font-family: 'Bungee', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #0505059b;
  -webkit-text-stroke: 1px #050505d9;
  padding-bottom: 3vh;
}

.partyIcon {
  max-height: 30vh;
  max-width: 80vw;
  object-fit: contain;
}
