.mapContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    rgba(196, 220, 253, 0.518),
    rgba(84, 126, 255, 0.794)
  );
}

.mapIsland:hover {
  transform: scale(1.1);
}

.lineSVG {
  width: 80%;
  height: 80%;
  display: block;

  /* center the svg */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
}
.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: transparent;
}
