.mapContainer {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(196, 220, 253, 0.518),
    rgba(84, 126, 255, 0.794)
  );
}

.mapIsland {
  position: absolute;
  cursor: pointer;
  width: 15%;
}

.lineSVG {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
}
.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: transparent;
}
