.mapContainer {
  width: 100%;
  height: 100%;
  position: relative;
  flex: 1;
}

.mapContent {
  height: 100%;
  width: 100%;
}

.mapIsland {
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
}

.mapIsland:hover {
  transform: scale(1.1);
}

.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
}

.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: transparent;
}
