.mapIsland {
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
}

.mapIsland:hover {
  transform: scale(1.1);
}

.mapContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mapContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: top left;
}
