h3 {
  font-size: 1.2rem;
  font-weight: 510;
}

#questionCard > * {
  margin-top: 0;
  padding-top: 0;
  box-sizing: border-box;
}

#questionCard {
  text-align: center;
}

#questionCard h2 {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 570;
}
