h3 {
  font-size: 1.2rem;
  font-weight: 510;
  color: #efefef;
  text-shadow: -0.5px -0.5px 0 #6c6b6b, 0.5px -0.5px 0 #6c6b6b,
    -0.5px 0.5px 0 #6c6b6b, 0.5px 0.5px 0 #6c6b6b;
}

#questionCard > * {
  margin-top: 0;
  padding-top: 0;
  box-sizing: border-box;
}

#questionCard {
  text-align: center;
}

#questionCard h2 {
  margin-bottom: 0;
  font-size: 2.3rem;
  font-weight: 570;
}
