.questionContainer {
  width: 100%;
  max-width: 800px;
  background-color: #ffffffad;
  border-radius: 15px;
  padding: 12px 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 2vh;
}

.questionContainer h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
}

.input-wrapper {
  display: flex;
  align-items: center;
  background-color: #cddbf9;
  border-radius: 30px;
  padding: 8px 12px;
  gap: 8px;
  width: fit-content;
}

.inputWrapper {
  margin-bottom: 2vh;
}

.text-input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  width: 250px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button {
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button:hover {
  background-color: #e6e6e6;
}
