.resultsContainer {
  width: 100%;
  max-width: 800px;
  background-color: #ffffffad;
  border-radius: 15px;
  padding: 12px 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 2vh;
}
