/* Make sure to include the Orbitron font in your index.html or CSS */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.header {
  background: transparent;
  text-align: center;
  padding: 2rem 1rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.523);
}

.header h1 {
  margin: 0;
  font-size: 5vw;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffffff;
  -webkit-text-stroke: 1px #0000006d; /* Adds a thin black border around the letters */
}

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.landing {
  display: flex;
}

.mapContainer {
  width: 100%;
  height: 100%;
  position: relative;
  flex: 1;
}

.mapContent {
  height: 100%;
  width: 100%;
}
.mapIsland {
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
}

.mapIsland:hover {
  transform: scale(1.1);
}

.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
}
.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: transparent;
}
