@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.header {
  background: transparent;
  text-align: center;
  padding: 2rem 1rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.523);
}

.header h1 {
  margin: 0;
  font-size: 5vw;
  font-family: 'Bungee', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffffff;
  -webkit-text-stroke: 1px #0000006d; /* Adds a thin black border around the letters */
}

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full height */
  text-align: center;
  padding: 20px;
  font-family: 'Bungee', sans-serif;
  font-size: 1.5rem;
}

.startButton {
  color: white;
  background-color: rgb(70, 106, 215);
  font-size: 2rem;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
  font-family: 'Bungee', sans-serif;
  text-transform: uppercase;
}

.startButton:hover {
  transform: scale(1.1);
}

.mapContainer {
  width: 100%;
  height: 100%;
  position: relative;
  flex: 1;
}

.mapContent {
  height: 100%;
  width: 100%;
}
.mapIsland {
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
}

.mapIsland:hover {
  transform: scale(1.1);
}

.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
}
.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: transparent;
}
