@import './styles/answer.css';
@import './styles/header.css';
@import './styles/landing.css';
@import './styles/layout.css';
@import './styles/map.css';
@import './styles/question.css';
@import './styles/responsive.css';
@import './styles/results.css';

body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url('../public/bg.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#root::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(97, 193, 167, 0.127); /* adjust opacity here */
  z-index: 1;
}

/* Make sure content inside #root is above the overlay */
#root > * {
  position: relative;
  z-index: 2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}
