@import './styles/answer.css';
@import './styles/header.css';
@import './styles/landing.css';
@import './styles/layout.css';
@import './styles/map.css';
@import './styles/question.css';
@import './styles/responsive.css';
@import './styles/results.css';
@import './styles/choiceButton.css';
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-family: 'Fredoka', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}
#video-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(
    0,
    208,
    255,
    0.326
  ); /* change this color and opacity as needed */
  z-index: -1;
  pointer-events: none;
}

/* Make sure content inside #root is above the overlay */
#root > * {
  position: relative;
  z-index: 2;
}
